
<h2 class="bg-light mb-2 text-center">Add New Product</h2>
<form #addProductForm="ngForm" (ngSubmit)="onSubmit(addProductForm)" class="Form_Style" >
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationServer01">Product Name</label>
        <input type="text" class="form-control" value="Enter Product Name" ngModel required name="product_name" >
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationServer02">Category Id</label>
        <input type="text" class="form-control" required name="product_category" ngModel >

      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationServer03">Description</label>
        <textarea type="text" class="form-control" placeholder="Enter Product Description" ngModel required name="product_description"  >
        </textarea>
      </div>
      <div class="col-md-6 mb-3">
        <label>Rating</label>
        <select class="custom-select" required ngModel name="product_rating" >
          <option selected value="">Choose...</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationServer01">Product Color</label>
          <input type="text" class="form-control" value="Enter Product Name"ngModel required name="product_color" >
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationServer02">Is Avaiable</label>
          <select class="custom-select" ngModel required name="product_available" >
            <option selected value="">Choose...</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationServer01">Product Price</label>
          <input type="text" class="form-control" value="Enter Product Name" ngModel required name="product_price" >
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationServer02">Reviews</label>
          <select class="custom-select" ngModel required name="product_reviews" >
            <option selected value="">Choose...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>
    <button class="btn btn-primary"  type="submit">Submit form</button>
  </form>
